html, body {
    font-size: 16px;
    min-height: 100vh;
}

body {
    background-size: 15rem;
    background-image: url('/images/background.svg');
    position: relative;

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        display: block;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        background: $color__light;
        filter: blur(30px);
    }

    @include breakpoint('tablet') {
        &:before {
            top: 2rem;
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
        }
    }

    @include breakpoint('desktop') {
        &:before {
            top: 3rem;
            bottom: 3rem;
            left: 3rem;
            right: 3rem;
        }
    }
}

.container {
    padding: 1rem;

    @include breakpoint('tablet') {
        padding: 2rem;
    }

    @include breakpoint('desktop') {
        padding: 4.5rem 0;
        max-width: 800px;
        margin: 0 auto;
    }
}

.icon {
    
}
