* {
    font-family: $font-secondary;
    font-weight: $weight-normal;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: $weight-bold;
    color: $color__dark;
}

h1 {
    font-size: $text-5xl;
    line-height: $leading-tight;
    margin-bottom: $space-2;
}

h2 {
    font-size: $text-4xl;
    line-height: $leading-tight;
    margin-bottom: $space-4;
}

h3 {
    font-size: $text-xl;
    line-height: $leading-tight;
    margin-bottom: $space-2;

    @include breakpoint('tablet') {
        font-size: $text-2xl;
        margin-bottom: $space-3;
    }
}

p {
    color: $color__dark--light;
    line-height: $leading-normal;
    margin-bottom: $space-4;
}

a {
    text-decoration: none;
    font-family: $font-secondary;
}
