// Breakpoints
$breakpoints: (
    'mobile': (min-width: 375px),
    'tablet': (min-width: 768px),
    'desktop': (min-width: 1024px),
) !global;

$color-dark: #181818;
$color-dark__lighter: #848484;
$color-dark__lightest: #D0D0D0;

$color-brand: #58B19F;
