.input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid $color-dark__lightest;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.875rem;
}

::-webkit-input-placeholder { 
  color: $color-dark__lightest;
}
::-moz-placeholder {
  color: $color-dark__lightest;
}
:-ms-input-placeholder { 
  color: $color-dark__lightest;
}
:-moz-placeholder {
  color: $color-dark__lightest;
}
