
.job--meta, .job-card--meta {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    color: $color-dark__lighter;
    font-size: 0.875rem;

    > * {
        margin-right: 1rem;
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.5rem;  
    }

    .icon {
        height: 16px;
        margin-right: 0.25rem;

        path {
            fill: lighten($color-dark__lighter, 25%);
        }
    }
}
