
.job-card {
    margin-bottom: 3rem;

    > a {    
        display: flex;
        justify-content: space-between;
    }
    
    &--content {
        flex: 1;
        margin: 0 1rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: -1rem;
            width: 3rem;
            height: 0.5rem;
            background-color: $color-dark;
        }

    }

    @include breakpoint('desktop') {
        > a:hover {
            .job-card--content {

                h2 {
                    color: $color-brand;
                }

                &:after {
                    background-color: $color-brand;
                }
            }

            .job-card--meta {
                color: $color-brand;

                .icon {
                    path {
                        fill: lighten($color-brand, 20%);
                    }
                }
            }
        }
    }

}
