.newsletter {
    margin-bottom: 4rem;
    text-align: left;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: -1rem;
        width: 3rem;
        height: 0.5rem;
        background-color: $color-dark;
    }

    @include breakpoint('tablet') {
        max-width: 35rem;
        margin: 0 auto;
        margin-bottom: 6rem;

        form {
            display: flex;

            input {
                margin-right: 1rem;
            }
        }
    }
}
