.placeholder-image {
    span {
        background-color: $color-dark__lightest;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;    
        font-size: 1rem;
        font-family: 'Montserrat';
        font-weight: bold;
        color: $color-dark__lighter;
    }

    @include breakpoint('tablet') {
        span {
            width: 4rem;
            height: 4rem;
            font-size: 1.5rem;
        }
    }
}
