/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-size: 16px;
  font-family: "proxima-nova";
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.25;
  color: #181818;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  font-family: 'proxima-nova';
  color: #181818;
}

p {
  font-family: 'proxima-nova';
  color: #848484;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.job-card {
  margin-bottom: 3rem;
}

.job-card.featured {
  background-color: #FCEF8B;
}

.job-card > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-card--content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
  position: relative;
}

.job-card--content:after {
  content: '';
  position: absolute;
  top: -1rem;
  width: 3rem;
  height: 0.5rem;
  background-color: #181818;
}

@media (min-width: 1024px) {
  .job-card > a:hover .job-card--content h2 {
    color: #F4DD4D;
  }

  .job-card > a:hover .job-card--content:after {
    background-color: #F4DD4D;
  }

  .job-card > a:hover .job-card--meta {
    color: #F4DD4D;
  }

  .job-card > a:hover .job-card--meta .icon path {
    fill: #faefad;
  }
}

.job--meta,
.job-card--meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  color: #848484;
  font-size: 0.875rem;
}

.job--meta > *,
.job-card--meta > * {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0.5rem;
}

.job--meta .icon,
.job-card--meta .icon {
  height: 16px;
  margin-right: 0.25rem;
}

.job--meta .icon path,
.job-card--meta .icon path {
  fill: #c4c4c4;
}

.job--timeago,
.job-card--timeago {
  color: #D0D0D0;
  font-size: 0.875rem;
}

.job--image,
.job-card--image {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .job--image,
  .job-card--image {
    width: 4rem;
    height: 4rem;
  }
}

.placeholder-image span {
  background-color: #D0D0D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #848484;
}

@media (min-width: 768px) {
  .placeholder-image span {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

.newsletter {
  margin-bottom: 4rem;
  text-align: left;
  position: relative;
}

.newsletter form {
  position: relative;
}

.newsletter .error {
  font-size: 0.875rem;
  color: #eb4d4b;
  position: absolute;
  top: calc(100% + 0.5rem);
}

.newsletter:after {
  content: '';
  position: absolute;
  top: -1rem;
  width: 3rem;
  height: 0.5rem;
  background-color: #181818;
}

@media (min-width: 768px) {
  .newsletter {
    max-width: 35rem;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .newsletter form input {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.button {
  background: #F4DD4D;
  padding: 0 3rem;
  height: 2.5rem;
  color: #181818;
  font-size: 0.875rem;
  font-family: 'Montserrat';
  font-weight: 500;
}

.button.loading,
.button.successful {
  color: transparent !important;
  position: relative;
}

.button.loading:before,
.button.successful:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}

.button.loading:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-top-color: #fff;
  -webkit-animation: spinner .6s linear infinite;
          animation: spinner .6s linear infinite;
}

.button.successful:before {
  display: block;
  background-image: url(/images/check.svg?5c397974ac584e62a1b849afd701d5a5);
  background-size: contain;
}

@media (min-width: 768px) {
  .button:hover {
    background-color: #f1d41d;
  }

  .button.loading:hover,
  .button.successful:hover {
    cursor: not-allowed;
    background-color: #F4DD4D;
  }
}

a.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.button {
  border: none;
  cursor: pointer;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #D0D0D0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.875rem;
}

::-webkit-input-placeholder {
  color: #D0D0D0;
}

::-moz-placeholder {
  color: #D0D0D0;
}

:-ms-input-placeholder {
  color: #D0D0D0;
}

:-moz-placeholder {
  color: #D0D0D0;
}

header {
  padding: 1rem;
  text-align: center;
}

header .logo {
  display: block;
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav a {
  display: block;
  padding: 0.5rem;
}

header nav a.active {
  background-color: #181818;
  color: #fff;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  header .logo {
    width: 6rem;
    margin-bottom: 6rem;
  }

  header nav {
    max-width: 35rem;
    margin: 0 auto;
  }

  header nav a {
    border-bottom: 1px solid #848484;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  header nav a:hover {
    background-color: #181818;
    color: #fff;
  }

  header nav a.active {
    background-color: transparent;
    color: #181818;
    border: 1px solid #848484;
    border-bottom: none;
  }
}

.jobs,
.job {
  padding: 0 1rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .jobs,
  .job {
    max-width: 35rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  .jobs,
  .job {
    max-width: 40rem;
  }
}

.job {
  margin-bottom: 2rem;
}

.job--image,
.job .placeholder-image {
  display: none;
}

.job--content {
  position: relative;
}

.job--content:after {
  content: '';
  position: absolute;
  top: -1rem;
  width: 3rem;
  height: 0.5rem;
  background-color: #181818;
}

.job--description {
  color: #848484;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.job--actions {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job--actions .twitter,
.job--actions .facebook {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
}

.job--actions .social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.job--actions .twitter,
.job--actions .facebook {
  width: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job--actions .twitter .icon,
.job--actions .facebook .icon {
  width: 1rem;
  height: 1rem;
}

.job--actions .twitter .icon path,
.job--actions .facebook .icon path {
  fill: #fff;
}

.job--actions .twitter {
  background-color: #1DA1F2;
  margin-right: 0.5rem;
}

.job--actions .facebook {
  background-color: #3B5998;
}

.job--timeago {
  display: none;
}

@media (min-width: 768px) {
  .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .job--image,
  .job .placeholder-image {
    display: block;
  }

  .job--content {
    margin: 0 1rem;
  }

  .job--actions .twitter:hover {
    background-color: #0c85d0;
  }

  .job--actions .facebook:hover {
    background-color: #2d4373;
  }

  .job--timeago {
    display: block;
  }
}

