/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-mobile {
    display: initial;
  }
}

@media (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

.fade-in-enter-active,
.fade-in-leave-active {
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  src: url("/../fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  src: url("/../fonts/FiraSans-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("/../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("/../fonts/Ubuntu-Medium.ttf");
}

html,
body {
  font-size: 16px;
  min-height: 100vh;
}

body {
  background-size: 15rem;
  background-image: url("/images/background.svg");
  position: relative;
}

body:before {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background: #ffffff;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

@media (min-width: 768px) {
  body:before {
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}

@media (min-width: 1024px) {
  body:before {
    top: 3rem;
    bottom: 3rem;
    left: 3rem;
    right: 3rem;
  }
}

.container {
  padding: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 4.5rem 0;
    max-width: 800px;
    margin: 0 auto;
  }
}

.twitter-link {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #1da1f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twitter-link .icon {
  width: 50%;
  fill: #ffffff;
}

* {
  font-family: "Ubuntu";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans";
  font-weight: 700;
  color: #1B1B1B;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

p {
  color: #575757;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: "Ubuntu";
}

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {
  font-family: "Fira Sans";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  color: #1B1B1B;
}

.rte h1 {
  font-size: 3rem;
}

.rte h2 {
  font-size: 2.25rem;
}

.rte h3 {
  font-size: 1.875rem;
}

.rte h4 {
  font-size: 1.5rem;
}

.rte h5 {
  font-size: 1.25rem;
}

.rte h6 {
  font-size: 1.125rem;
}

.rte p {
  color: #575757;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.rte ul,
.rte ol {
  margin-bottom: 1rem;
}

.rte ul {
  list-style-type: initial;
}

.rte ol {
  list-style-type: decimal;
}

.rte li p {
  margin: 0;
}

.rte hr {
  margin: 2rem 0;
}

.rte img {
  display: block;
  max-width: 100%;
}

.rte a {
  text-decoration: none;
  font-family: "Ubuntu";
}

.rte a:hover {
  text-decoration: underline;
}

.rte strong {
  font-weight: bold;
}

.rte em {
  font-style: italic;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  display: block;
  width: 10rem;
}

.page-header__logo svg {
  max-width: 100%;
}

@media (min-width: 768px) {
  .page-header__logo {
    width: 12rem;
  }
}

.newsletter {
  margin: 5rem 0;
}

.newsletter .error {
  font-size: 0.875rem;
  color: #ff0000;
}

.newsletter .success {
  font-size: 0.875rem;
  color: #20bf6b;
}

@media (min-width: 768px) {
  .newsletter {
    width: 66.66%;
  }

  .newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .newsletter form input {
    margin-right: 0.5rem;
  }
}

.filters {
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.filters ::-webkit-scrollbar {
  display: none;
}

.filters a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  min-width: 5rem;
  font-weight: 700;
  color: #575757;
  border-bottom: 1px solid #757575;
}

.filters a.active {
  color: #1B1B1B;
  border: 1px solid #757575;
  border-bottom: none;
}

@media (min-width: 768px) {
  .filters {
    overflow: hidden;
  }

  .filters a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: none;
  }
}

.jobs-group {
  margin-bottom: 2rem;
}

.single-job {
  margin-top: 4rem;
}

.purchase-job {
  margin-top: 4rem;
}

.purchase-job h1 {
  margin-bottom: 2rem;
}

.purchase-job .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.purchase-job .plan {
  width: 100%;
  margin-bottom: 1rem;
}

.purchase-job .plan input {
  display: none;
}

.purchase-job .plan label {
  display: block;
  padding: 1.5rem;
  background-color: #F7F7F7;
  cursor: pointer;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase-job .plan h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.purchase-job .plan h4 span {
  font-weight: normal;
}

.purchase-job .plan li {
  font-size: 1.125rem;
  color: #757575;
  padding-left: 1.5rem;
  line-height: 1.5;
  position: relative;
}

.purchase-job .plan li.highlighted {
  font-weight: 700;
}

.purchase-job .plan li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 18px;
  height: 14px;
  background-image: url("/icons/check_grey.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.purchase-job .plan input:checked + label {
  background: #465064;
}

.purchase-job .plan input:checked + label h4,
.purchase-job .plan input:checked + label li {
  color: #ffffff;
}

.purchase-job .plan input:checked + label li:before {
  background-image: url("/icons/check_white.svg");
}

.purchase-job .form-group {
  width: 90%;
  margin-bottom: 1.5rem;
  position: relative;
}

.purchase-job .form-group:before,
.purchase-job .form-group:after {
  content: '';
  display: block;
  width: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 0.5rem);
}

.purchase-job .form-group:before {
  border-top: 5px solid #D2D2D2;
  border-bottom: 5px solid #D2D2D2;
}

.purchase-job .form-group:after {
  border-right: 5px solid #D2D2D2;
}

.purchase-job .form-success p,
.purchase-job .form-success a {
  color: #20bf6b;
}

.purchase-job .form-success a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .purchase-job .plan {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .purchase-job .plan:first-of-type {
    margin-right: 30px;
  }

  .purchase-job .form-group {
    width: 80%;
  }

  .purchase-job .form-group.inline-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .purchase-job .form-group.inline-group input,
  .purchase-job .form-group.inline-group select {
    width: calc(50% - 0.25rem);
  }

  .purchase-job .form-group.inline-group input:nth-last-child(1),
  .purchase-job .form-group.inline-group input:nth-last-child(2),
  .purchase-job .form-group.inline-group select:nth-last-child(1),
  .purchase-job .form-group.inline-group select:nth-last-child(2) {
    margin-bottom: 0;
  }

  .purchase-job .form-group__label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 2rem);
    font-weight: 700;
    color: #D2D2D2;
  }
}

.job-card {
  margin-bottom: 1rem;
  position: relative;
}

.job-card__actions {
  position: absolute;
  top: 0;
  left: calc(100% + 2rem);
}

.job-card.highlighted {
  border: 1px solid #20bf6b;
}

.job-card.featured > a {
  background-color: #FFFCD0;
}

.job-card > a {
  width: 100%;
  padding: 0 0.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .job-card > a {
    padding: 1rem;
    -webkit-transition: -webkit-transform 150ms;
    transition: -webkit-transform 150ms;
    transition: transform 150ms;
    transition: transform 150ms, -webkit-transform 150ms;
  }

  .job-card > a:hover {
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
  }
}

.job__image,
.placeholder-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .job__image,
  .placeholder-image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
}

.placeholder-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D2D2D2;
  font-size: 1.875rem;
  font-weight: 700;
  color: #757575;
}

.job__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #D2D2D2;
  font-size: 0.75rem;
}

.job__meta p {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.job__meta .icon {
  height: 1rem;
  fill: #D2D2D2;
  margin-right: 0.25rem;
}

@media (min-width: 768px) {
  .job__meta {
    font-size: 0.875rem;
  }

  .job__meta p {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .job__timeago {
    font-size: 0.875rem;
    color: #D2D2D2;
  }
}

.job__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.job__description {
  color: #757575;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.job__actions {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job__actions .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job__actions .facebook,
.job__actions .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.job__actions .facebook .icon,
.job__actions .twitter .icon {
  height: 40%;
  fill: #ffffff;
}

.job__actions .facebook {
  background-color: #3B5998;
}

.job__actions .twitter {
  background-color: #1da1f2;
  margin-right: 0.5rem;
}

.login {
  max-width: 500px;
  margin: 100px auto;
}

.dashboard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publish-job-form .group {
  margin-bottom: 1rem;
}

.publish-job-form label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Ubuntu";
}

.publish-job-form textarea {
  min-height: 300px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-footer p {
  font-family: "Ubuntu";
  text-align: center;
}

.page-footer p a {
  color: #465064;
}

@media (min-width: 1024px) {
  .page-footer {
    bottom: 0.5rem;
  }
}

.button {
  height: 2.5rem;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  background-color: #465064;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

.button.successful {
  color: transparent !important;
}

.button.successful .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

.button .success {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.button .success svg {
  height: 70%;
}

.button .success svg path {
  fill: #ffffff;
}

.button.loading {
  color: transparent !important;
}

.button.loading .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

.button .loader {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.button .circle {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@media (min-width: 768px) {
  .button {
    -webkit-transition: background 150ms;
    transition: background 150ms;
  }

  .button:hover {
    background-color: #313846;
  }
}

a.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.button {
  border: none;
  cursor: pointer;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="password"],
select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: #D2D2D2;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input[type="text"].has-error,
input[type="search"].has-error,
input[type="email"].has-error,
input[type="url"].has-error,
input[type="password"].has-error,
select.has-error,
textarea.has-error {
  border: 2px solid #ff0000;
}

textarea {
  padding: 0.5rem;
  height: 16rem;
  resize: vertical;
  margin-bottom: 0;
}

select {
  border-radius: 0;
  color: #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/images/arrow_down.svg?62a4c8c474a76b589044944d7465aa7a);
  background-repeat: no-repeat;
  background-position: 95% center;
}

select.selected {
  color: #1B1B1B;
}

.file-input {
  display: block;
  position: relative;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin-left: auto;
  background-color: #D2D2D2;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  font-weight: 700;
  color: #757575;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.file-input:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/images/upload.svg?e062abb0b8405f291864b81f45d4ed0b);
  background-size: 30%;
  background-position: center 65%;
  background-repeat: no-repeat;
}

.file-input.has-preview {
  color: transparent;
}

.file-input.has-preview:before {
  opacity: 0;
}

.file-input input {
  display: none;
}

.credit-card-input {
  background-color: #D2D2D2;
  height: 2.5rem;
  padding: 0 0.5rem;
}

