* {
    font-size: 16px;
    font-family: "proxima-nova";
    font-weight: 400;
}

h1, h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.25;
    color: $color-dark;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    font-family: 'proxima-nova';
    color: $color-dark;
}

p {
    font-family: 'proxima-nova';
    color: $color-dark__lighter;
    line-height: 1.5;
    margin-bottom: 1rem;
}
