
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: block;
        width: 10rem;
        svg {
            max-width: 100%;
        }
    }

    @include breakpoint('tablet') {
        &__logo {
            width: 12rem;
        }
    }

}
