.job-card {
    margin-bottom: $space-4;
    
    &.featured {
        > a {
            background-color: $color__accent;
        }
    }

    > a {
        width: 100%;
        padding: 0 $space-3;
        padding-top: $space-3;
        box-sizing: border-box; 
        background-color: $color__light--dark;
        display: flex;
        align-items: center;
    }



    @include breakpoint('tablet') {
        > a {
            padding: $space-4;
            transition: transform 150ms;
            &:hover {
                transform: translateY(-0.25rem);
            }
        }
    }

}
