.jobs, .job {
    padding: 0 1rem;
    margin-top: 4rem;

    @include breakpoint('tablet') {
        max-width: 35rem;
        margin-right: auto;
        margin-left: auto;
    }


    @include breakpoint('desktop') {
        max-width: 40rem;
    }

}
