.purchase-job {
    margin-top: 4rem;

    h1 {
        margin-bottom: $space-8;
    }

    .plans {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $space-8;
    }

    .plan {
        width: 100%;
        margin-bottom: $space-4;

        input {
            display: none;
        }

        label {
            display: block;
            padding: $space-6;
            background-color: $color__light--dark;
            cursor: pointer;
            height: 100%;
            box-sizing: border-box;
        }

        h4 {
            font-size: $text-xl;
            margin-bottom: $space-4;

            span {
                font-weight: normal;
            }
        }

        li {
            font-size: $text-lg;
            color: $color__dark--lighter;
            padding-left: $space-6;
            line-height: $leading-normal;
            position: relative;

            &.highlighted {
                font-weight: $weight-bold;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 18px;
                height: 14px;
                background-image: url('/icons/check_grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        input:checked + label {
            background: $color__primary;

            h4, li {
                color: $color__light;
            }

            li:before {
                background-image: url('/icons/check_white.svg');
            }
        }

    }

    .form-group {
        width: 90%;
        margin-bottom: $space-6;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            width: 0.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% + 0.5rem);
        }

        &:before {
            border-top: 5px solid $color__light--darker;
            border-bottom: 5px solid $color__light--darker;
        }

        &:after {
            border-right: 5px solid $color__light--darker;
        }
    }

    .form-success {
        p, a {
            color: $color__success;
        }

        a {
            text-decoration: underline;
        }
    }

    @include breakpoint('tablet') {

        .plan {
            width: auto;
            flex: 1;

            &:first-of-type {
                margin-right: 30px;
            }
        }

        .form-group {
            width: 80%;

            &.inline-group {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                input, select {
                    width: calc(50% - #{$space-1});

                    &:nth-last-child(1), &:nth-last-child(2) {
                        margin-bottom: 0;
                    }
                }
            }

            &__label {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: calc(100% + 2rem);
                font-weight: $weight-bold;
                color: $color__light--darker;
            }

        }
    }

}
